<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mifazhan.mapper.NodeMapper">

    <resultMap id="BaseResultMap" type="com.mifazhan.domain.entity.Node">
            <id property="markdownId" column="markdownId" />
            <result property="userId" column="user_id" />
            <result property="markdownName" column="markdownName" />
            <result property="markdownContent" column="markdown_content" />
            <result property="creationTime" column="creation_time" />
            <result property="updateTime" column="update_time" />
            <result property="version" column="version" />
            <result property="remark" column="remark" />
            <result property="deleted" column="deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        markdownId,user_id,markdownName,markdown_content,creation_time,update_time,
        version,remark,deleted
    </sql>
</mapper>